[Unit]
Description=Gunicorn instance
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Restart=ubuntu
EnvironmentFile=/home/ubuntu/david/.env
WorkingDirectory=/home/ubuntu/david
ExecStart=/home/ubuntu/www/david/.venv/bin/gunicorn --timeout 60 --log-level warning --access-logfile /var/log/david/gunicorn-access.log --error-logfile /var/log/david/gunicorn-error.log --pythonpath /home/manti/www/david --bind 127.0.0.1:8000 --workers 4 --worker-class uvicorn.workers.UvicornWorker david.asgi:application

[Install]
WantedBy=multi-user.target
